body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header, footer {
  height: 15%;
  padding: 3%;
  text-align: center;
  font-size: 2em;
  background-color: lightblue;
  border: 2px solid #b1b1db;
  display: block;
  clear: left;
}

.sections {
  width: 100%;
  display: flex;
  height: 600px;
}

#leftSection, #middleSection {
  float: left;
  padding: 0.5%;
  border: 2px solid darkcyan;
}

#leftSection {
  background-color: darkgrey;
  width: 50%;
}

#middleSection {
  background-color: grey;
  width: 100%;
}

legend {
  font-size: 1.2em;
  color: #09384e;
  font-weight: bold;
}

label {
  width: 40%;
  margin: 2px;
}

button {
  border: none;
  background-color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.greenButton {
  background-color: #4CAF50;
}

.blueButton {
  background-color: #008CBA;
}

.redButton {
  background-color: #F44336;
}

.disabledButton {
  background-color: #E7E7E7;
}

#checkBoardId {
  float: left;
  width: 100%;
  height: 100%;
}

.puzzleBoard {
  position: relative;
  left: 10%;
  width: 80%;
  height: 95%;
  margin: 1px;
  border: 3px solid black;
  padding: 2px;
}

.mySmall {
  font-size: 10px;
  position: absolute;
  bottom: 2px;
  left: 5px;
}

.filledTile, .emptyTile {
  float: left;
  position: relative;
  width: 32%;
  height: 32%;
  font-size: 300%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: #77B3ED;
  border: 2px solid #404c50;
  margin: 1px;
  padding-top: 5%;
  color: white;
  font-weight: bold;
}

.emptyTile {
  background-color: #afd9ec;
  color: #afd9ec
}
