table.tableStats
{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table.tableStats td, table.tableStats th {
  border: 1px solid #ddd;
  padding: 8px;
}

table.tableStats tr:nth-child(even)
{
  background-color: #f2f2f2;
}

table.tableStats tr:hover
{
  background-color: #ddd;
}

table.tableStats th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#gameStatsContent, #playerInfoContent
{
  background-color: lightblue;
  display: none;
  border: none;
  outline: none;
}

.tabs
{
  overflow: hidden;
  border: none;
  outline: none;
  background-color: white;
}

.tabs button
{
  margin: 0;
  float: left;
  border: none;
  outline: none;
  font-size: 12px;
}

#GameStatsTab:hover, #playerInfoTab:hover
{
  background-color: #ddd;
}
